.button {
  color: $text-primary;

  &:active {
    transform: scale(0.99);
  }

  &.primary {
    background-color: $button-disable;
  }
  &.secondary {
    background-color: $button-disable;
  }

  &.sm {
    padding: 5px;
  }
  &.md {
    padding: 7px;
  }
  &.lg {
    padding: 10px;
  }
  &.xl {
    padding: 12px;
  }

  &.br0 {
    border-radius: $br0;
  }
  &.br1 {
    border-radius: $br1;
  }
  &.br2 {
    border-radius: $br2;
  }
  &.br3 {
    border-radius: $br3;
  }

  padding: 14px 20px;
  font-weight: 600;
  border-radius: 12px;

  &:hover {
    background-image: linear-gradient(90deg, #328af1, #22c7f6);
  }
}
