.button {
  color: $text-primary;

  &:active {
    transform: scale(0.99);
  }

  &.primary {
    background-color: $color-primary;
  }
  &.secondary {
    background-color: $color-secondary;
  }

  &.sm {
    padding: 5px;
  }
  &.md {
    padding: 7px;
  }
  &.lg {
    padding: 10px;
  }
  &.xl {
    padding: 12px;
  }

  padding: 14px 20px;
  font-weight: 600;
  border-radius: 12px;

  &:hover {
    background-color: $color-light-blue;
  }

  &:disabled {
    background-color: $button-disable;
    &:hover {
      background-color: initial;
    }
  }
}
