.input {
  background-color: $input-dark-bg;
  border-radius: $br1;
  transition: 0.1s;
  color: $input;

  &.sm {
    padding: 4px;
  }
  &.md {
    padding: 8px 10px;
  }
  &.lg {
    padding: 14px 12px;
  }
  &.xl {
    padding: 16px 18px;
  }

  &::placeholder {
    color: $input-placeholder;
  }

  &:focus {
    // outline: 1px solid lighten($input, 30%);
    &::placeholder {
      color: $input-placeholder-focus;
    }
  }
}
