.input {
  background-color: $input-dark-bg;
  border-radius: $br1;
  // border: 1px solid $svg-elements-light;
  // outline: 1px solid $input;
  transition: 0.1s;
  color: $input;

  &.sm {
    padding: 2px;
  }
  &.md {
    padding: 4px;
  }
  &.lg {
    padding: 6px;
  }
  &.xl {
    padding: 14px 58px 14px 60px;
  }

  &::placeholder {
    color: $input-placeholder;
  }

  &:focus {
    // outline: 1px solid lighten($input, 30%);
    &::placeholder {
      color: $input-placeholder-focus;
    }
  }
}
