.input {
  background-color: initial;
  border-radius: $br1;
  // border: 1px solid $svg-elements-light;
  outline: 1px solid $input;
  transition: 0.1s;
  color: #fff;

  &.sm {
    padding: 2px;
  }
  &.md {
    padding: 4px;
  }
  &.lg {
    padding: 6px;
  }
  &.xl {
    padding: 8px;
  }

  &::placeholder {
    color: #7d7f85;
  }

  &:focus {
    outline: 1px solid lighten($input, 30%);
  }
}
