{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "jest",
    "prettier"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "jest/globals": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style": "off",
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto"
      }
    ],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "max-len": [
      "warn",
      {
        "code": 480,
        "tabWidth": 2
      }
    ],
    "no-new": 0,
    "camelcase": 0,
    "react/destructuring-assignment": 0,
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-restricted-syntax": 0,
    "guard-for-in": 0,
    "no-plusplus": 0,
    "no-console": 0,
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "react/jsx-props-no-spreading": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/naming-convention": 0,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn"
    ],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": [
      "warn"
    ],
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "eslint-disable-next-line": "off",
    "react/sort-comp": "warn",
    "react/prop-types": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "react/require-default-props": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "no-useless-escape": 0,
    "react-hooks/exhaustive-deps": 0,
    "@typescript-eslint/no-shadow": "off"
  }
}
