.main-page {
  &__top-block {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  &__main-input-wrap {
    flex: 1 1;
    position: relative;

    .main-input-label {
      .svg-edit {
        background-image: url(../../images/icons/edit.svg);
        width: 72px;
        height: 42px;
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        cursor: text;
        background-position: center;
      }

      .svg-close {
        background-image: url(../../images/icons/close_1.svg);
        width: 22px;
        height: 22px;
        position: absolute;
        background-repeat: no-repeat;
        top: 11px;
        right: 19px;
        cursor: pointer;
        background-position: center;
      }

      .main-input {
        width: 100%;
      }
    }
  }

  .main-button-create {
    padding: 14px 20px;
    font-weight: 600;
    border-radius: 12px;

    &:hover {
      background-image: linear-gradient(90deg, #328AF1, #22C7F6);
    }
  }

  // &__buttons {
  // }
}

.block-tasks {
  // background-color: $body-dark-blue;
  background-color: $body-blue;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  padding: 30px;
  border-radius: 25px;
  transition: 0.3s;

  &:hover {
    background-color: $input-background;
    transition: 0.3s;
  }
}

.block-tasks__bottom {
  margin-top: 30px;
}

.task-item {
  display: flex;
  gap: 10px;
  border-bottom: 2px solid #24262f;
  cursor: pointer;
  transition: 0.2s;
}

.task-item__title {
  font-weight: 400;
  background: #24262f;
  padding: 3px 15px;
  color: #fff;
}

.tasks {
  color: #ffffff61;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-item:hover {
  transform: scale(1.005);
}

.block-tasks__top__title {
  font-size: 18px;
  font-weight: 500;
}

.block-tasks__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-tasks__top__sort {
  display: flex;
  align-items: center;
  gap: 10px;
}
