.main-page {
	&__top-block {
		display: flex;
		gap: 14px;
	}

  &__main-input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: end;
    flex: 1 1;
  }

	&__main-input-wrap {
		width: 100%;
		position: relative;

		.main-input-label {
			.svg-edit {
				background-image: url(../../images/icons/edit.svg);
				width: 40px;
				height: 100%;
				position: absolute;
				background-repeat: no-repeat;
				top: 0;
				left: 0;
				cursor: text;
				background-position: center;
			}

			.svg-close {
				background-image: url(../../images/icons/close_1.svg);
				width: 22px;
				height: 22px;
				position: absolute;
				background-repeat: no-repeat;
				top: 11px;
				right: 19px;
				cursor: pointer;
				background-position: center;
			}

			.main-input {
				width: 100%;
				padding-left: 48px;
			}
		}
	}

	.main-button-create {
		padding: 14px 20px;
		font-weight: 600;
		border-radius: 12px;
	}

	// &__buttons {
	// }
}

.block-tasks {
	width: 100%;
	height: 100%;
	margin-top: 60px;
	transition: 0.3s;

	&__bottom {
		margin-top: 30px;
	}
}

.task-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	cursor: pointer;
	transition: 0.2s;
	background-color: $block-dark-blue;
	padding: 15px;
	position: relative;

	$item: &;

	&__edit.svg-icon {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		right: -5px;
		top: -5px;
		background-size: 12px;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: $button-active;
	}

	&:hover {
		transform: scale(1.005);

		#{$item}__edit {
			opacity: 1;
			visibility: visible;
		}
	}

	&__text {
		max-height: 40px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}

	&__title {
		font-weight: 400;
		color: #fff;
	}
}

.tasks {
	color: #ffffff61;
	display: flex;
	flex-direction: column;
	gap: 18px;
	height: 100%;
	padding: 20px 20px 20px 0;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 500px;
}

.block-tasks__top__title {
	font-size: 18px;
	font-weight: 500;
}

.block-tasks__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block-tasks__top__sort {
	display: flex;
	align-items: center;
	gap: 10px;
}

.edit-modal {
	display: flex;
	flex-direction: column;
	gap: 25px;

	&__wrap {
		display: flex;
		flex-direction: column;
		gap: 5px;

		& > label {
			font-size: 20px;
			font-weight: 500;
			display: inline-block;
			padding: 0 10px;
		}

		& > input {
			width: 100%;
			background-color: inherit;
			font-size: 16px;

			&:focus {
				outline: 1px solid $outline-focus;
			}
		}

		& textarea {
			overflow-y: auto;
			resize: none;
			padding: 10px;
			border-radius: $br1;
		}
	}
	&__buttons {
		display: flex;
		justify-content: right;
		gap: 20px;
		padding-top: 30px;
	}
	&__category {
		display: flex;
		align-items: center;
		justify-content: right;
		gap: 10px;
	}
}

.open-editor {
  text-align: right;
  cursor: pointer;
  
  span {
    border-bottom: 1px solid;
  }
}
