.list-enter-active {
  animation: show-in .3s;
}
.list-leave-active {
  animation: show-in .3s reverse;
}
.list-move {
  animation: show-in .3s reverse;
}
@keyframes show-in {
  0% {
    opacity: 0;
    overflow-y: hidden;
    max-height: 0;
  }
  100% {
    opacity: 1;
    overflow-y: hidden;
    max-height: 300px;
  }
}

.slide-fade-enter-active {
  transition: all 0.08s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.1s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

.slide-top {

  &-enter-active {
    animation: slide-top-in 0.5s;
  }

  &-leave-active {
    animation: slide-top-in 0.5s reverse;
  }
}

@keyframes slide-top-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
