// Grid breakpoints

//  Размеры макетов:
//  артборд
//  1920px
//  1366px  рабочая область > 1336px
//  1280px  рабочая область > 1200px
//  640px   рабочая область > 600px
//  360px

// Grid columns
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;

$grid-breakpoints: (
  xxs: 340px,
  se: 375px,
  xs: 400px,
  s: 560px,
  ssm: 620px,
  sm: 780px,
  smd: 960px,
  md: 1280px,
) !default;

$container-max-widths: (
  xs: 450px,
  s: 560px,
  sm: 768px,
  md: 1200px,
  lg: 1336px,
  //$max-container-width // 1336
) !default;

// media quaries for container
@mixin media-container($breakpoint) {
  @if map-has_key($container-max-widths, $breakpoint) {
    @media screen and (max-width: calc(map_get($container-max-widths, $breakpoint ) - 1)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// media down
@mixin media-breakpoint-down($breakpoint) {
  @if map-has_key($grid-breakpoints, $breakpoint) {
    @media screen and (max-width: calc(map_get($grid-breakpoints, $breakpoint ) - 1)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

//media up

// @mixin media-breakpoint-up($breakpoint) {
//   @if map-has_key($grid-breakpoints, $breakpoint) {
//     @media screen and (min-width: map_get($grid-breakpoints, $breakpoint)) {
//       @content;
//     }
//   } @else {
//     @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
//         + "Please make sure it is defined in `$breakpoints` map.";
//   }
// }
