@mixin svg-icon($path, $width, $height) {
  &.#{$path} {
    display: inline-block;
    background-size: contain;
    width: $width;
    height: $height;
    background-image: url("../images/icons/#{$path}.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transition: $hover-delay ease-in-out all;
  }

  &.pointer {
    cursor: pointer;
  }
}

@mixin svg-icon-white($path, $width, $height) {
  &.#{$path} {
    background-image: url("../images/icons/#{$path}-white.svg");
  }
}

.svg-icon {

}

button:hover {
  .svg-icon {

  }
}
