@mixin svg-icon($path, $width, $height) {
  &.#{$path} {
    display: inline-block;
    background-size: contain;
    width: $width;
    height: $height;
    background-image: url('../images/icons/#{$path}.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transition: 0.1s ease-in-out all;
  }

  &.pointer {
    cursor: pointer;
  }
}

.svg-icon {
  @include svg-icon('arrow-up', 16px, 16px);
  @include svg-icon('arrow-down', 16px, 16px);
  @include svg-icon('fire', 16px, 16px);
  @include svg-icon('note', 16px, 16px);
  @include svg-icon('infocircle', 16px, 16px);
}

button:hover {
  .svg-icon {
  }
}
