@use "sass:selector";

$primary: red;
$secondary: green;

$grid-breakpoints: (
  xs: 0,
  xss: 340px,
  se: 376px,
  ss: 420px,
  xsm: 480px,
  sm: 576px,
  md: 768px,
  ls: 860px,
  lg: 1024px,
  xl: 1200px,
  mxl: 1360px,
  xxl: 1500px,
);

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: 1480px,
);

// //noinspection CssOverwrittenProperties
// @mixin viewport-height($value: 100) {
//   height: $value + vh; /* Fallback for browsers that do not support Custom Properties */
//   height: calc(var(--vh, 1vh) * $value);
// }

// //noinspection CssOverwrittenProperties
// @mixin viewport-max-height($value: 100) {
//   max-height: $value + vh; /* Fallback for browsers that do not support Custom Properties */
//   max-height: calc(var(--vh, 1vh) * $value);
// }

// //noinspection CssOverwrittenProperties
// @mixin viewport-min-height($value: 100) {
//   min-height: $value + vh; /* Fallback for browsers that do not support Custom Properties */
//   min-height: calc(var(--vh, 1vh) * $value);
// }

@mixin fade-placeholder() {
  input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
  input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
  input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
  input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
  input:focus::-webkit-input-placeholder {opacity: 0.3; transition: opacity 0.3s ease;}
  input:focus::-moz-placeholder          {opacity: 0.3; transition: opacity 0.3s ease;}
  input:focus:-moz-placeholder           {opacity: 0.3; transition: opacity 0.3s ease;}
  input:focus:-ms-input-placeholder      {opacity: 0.3; transition: opacity 0.3s ease;}
}


