@use 'sass:selector';

$br0: 0px;
$br1: 5px;
$br2: 25px;
$br3: 50%;

$body-dark-blue: #141821;
$body-blue: #161a24;

$menu-background: #1f232d;

$button-active: #304f9c;
$button-disable: #3a3b3f;
$button-primary: #1e2841;

$text-primary: #e4e8f7;
$text-active: #dbdbdb;
$svg-elements-light: #dbdbdb;
$input-dark-bg: #6c717d;
$input: #8b8d92;

// $body-dark-blue: #151f32;
// $body-blue: #18273F;
// $menu-background: #182D4B;;
// $input-background: #182D4B;
// $button-active: #304f9c;
// $button-disable: #328AF1;
// $text-primary: #e4e8f7;
// $text-active: #dbdbdb;
// $svg-elements-light: #dbdbdb;
// $input-dark-bg: #6c717d;
// $input: #8b8d92;
// $input-text: rgb(186 217 252);

$input-placeholder: rgb(186 217 252);
$input-placeholder-focus: rgba(186, 217, 252, 0.1);

$hover-delay: 0.3s;

// $grid-breakpoints: (
//   xs: 0,
//   xss: 340px,
//   se: 376px,
//   ss: 420px,
//   xsm: 480px,
//   sm: 576px,
//   md: 768px,
//   ls: 860px,
//   lg: 1024px,
//   xl: 1200px,
//   mxl: 1360px,
// );

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: 1480px,
);

@mixin hover-button($bg, $color) {
  background: $bg;
  color: $color;
}

//noinspection CssOverwrittenProperties
@mixin viewport-height($value: 100) {
  height: $value + vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * $value);
}

//noinspection CssOverwrittenProperties
@mixin viewport-max-height($value: 100) {
  max-height: $value + vh; /* Fallback for browsers that do not support Custom Properties */
  max-height: calc(var(--vh, 1vh) * $value);
}

//noinspection CssOverwrittenProperties
@mixin viewport-min-height($value: 100) {
  min-height: $value + vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * $value);
}

@mixin fade-placeholder() {
  input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input:focus::-webkit-input-placeholder {
    opacity: 0.3;
    transition: opacity 0.3s ease;
  }
  input:focus::-moz-placeholder {
    opacity: 0.3;
    transition: opacity 0.3s ease;
  }
  input:focus:-moz-placeholder {
    opacity: 0.3;
    transition: opacity 0.3s ease;
  }
  input:focus:-ms-input-placeholder {
    opacity: 0.3;
    transition: opacity 0.3s ease;
  }
}

@mixin label-icon-product-circle($size: 24px, $bg) {
  width: max-content;
  height: $size;
  border-radius: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .text-in-label {
    background-color: $bg;
    position: relative;
    width: -moz-max-content;
    width: max-content;
    font-size: 12px;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 5px 0 20px;
    transform: translateX(-100%);
    z-index: 0;
    height: $size;
    transition: $hover-delay;
    color: #fff;
    border-radius: 0 30px 30px 0;
  }
  $text-label: '.text-in-label';

  & > .svg-icon {
    background-color: $bg;
    border-radius: $size;
    background-size: 80%;
    width: $size;
    height: $size;
    z-index: 1;
    cursor: pointer;

    &:hover {
      ~ #{$text-label} {
        transform: translateX(-20px);
      }
    }
  }
}
