@import './variables';
@import './reset';
@import './animation';
@import './icons';
@import './ui/index';
@import './pages/index';
@import './common';

body {
  background-color: $body-blue;
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $text-primary;
}

.br-1 {
  border-radius: $br1;
}
.br-2 {
  border-radius: $br2;
}
.br-3 {
  border-radius: $br3;
}
